.jolt-interns {
  box-sizing: border-box;
}

.jolt-interns * {
  box-sizing: border-box;
}

.jolt-interns-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  //justify-content: center;
}

.jolt-interns-item {
  width: calc(100% / 7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 21.5vh;
  box-sizing: border-box;
}

.jolt-interns-item__inner {
  display: flex;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.6) !important;
  opacity: 0;
  cursor: pointer;
  white-space: unset;
  border-radius: 0;
  transition: opacity 300ms ease-in;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.jolt-interns-item__inner:hover,
.jolt-interns-item__inner:focus {
  outline: none;
  opacity: 1;
}

@media only screen and (max-height: 1400px) and (max-width: 1025px) and (orientation: portrait) {
  .jolt-interns-item {
    width: calc(100% / 5);
    height: 12.5vh;
  }
}

/* @media only screen and (max-width: 415px) and (orientation: portrait) {
  .jolt-interns-item {
    height: 13.5%;
  }
} */

/**********
  Modal
***********/

.jolt-intern-modal {
  width: 86%;
  max-width: 86%;
  background: #fff;
  margin: 5% auto;
  padding: 20px 40px 20px 20px;
  border: 1px solid #888;
  border-radius: 3px;
  height: 50%;
  box-shadow: none;
}

.jolt-intern-modal__inner {
  display: flex;
  height: 100%;
}

.jolt-intern-modal__section--left {
  flex: 0 1 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}

.jolt-intern-modal__section--right {
  padding-left: 5%;
  flex: 1 1 60%;
  overflow-y: scroll;
}

.jolt-intern-modal__header {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.jolt-inter-modal__name {
  font-size: 1.4em;
  margin-top: 15%;
}

.jolt-inter-modal__logo {
  max-width: 100%;
  height: 15vh;
  max-height: 100px;
}

@media screen and (max-height: 1025px) and (max-width: 1400px) and (orientation: portrait) {
  .jolt-intern-modal {
    height: 85vh;
    width: 100%;
    max-width: 100%;
    margin: auto;
  }

  .jolt-intern-modal__inner {
    flex-direction: column;
  }

  .jolt-intern-modal__section--left {
    width: 70%;
    margin: auto;
    height: 33vh;
  }

  .jolt-intern-modal__section--right {
    padding-right: 5%;
  }

  .jolt-inter-modal__name {
    margin-top: 10px;
  }

  .jolt-inter-modal__bio {
  }

  .jolt-inter-modal__logo {
    max-height: 50px;
  }
}

@media only screen and (max-height: 1019px) and (orientation: landscape) {
  .jolt-intern-modal {
    height: 65vh;
  }
}

@media only screen and (max-height: 767px) and (orientation: landscape) {
  .jolt-intern-modal {
    height: 70vh;
  }

  .jolt-inter-modal__bio {
    font-size: 10px;
    line-height: 1.3;
  }

  .jolt-inter-modal__name {
    margin-top: 10px;
  }

  .jolt-inter-modal__logo {
    max-height: 50px;
  }
}

@media only screen and (max-width: 415px) {
  .jolt-intern-modal {
    padding: 0;
  }

  .jolt-inter-modal__bio {
    font-size: 10px;
    line-height: 1.3;
  }
}

/**********
  jQuery modal style overrides
***********/

.jquery-modal.blocker {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 8888;
}

.modal a.close-modal {
  color: transparent;
  text-indent: unset;
  background-image: none;
  top: -25px;
  right: 6px;
}

.modal a.close-modal:hover {
  color: transparent;
}

.modal a.close-modal:after {
  content: "x";
  color: #aaa;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.modal a.close-modal:hover:after {
  color: #000;
}

@media screen and (max-height: 1025px) and (max-width: 1400px) {
  .modal a.close-modal {
    top: -10px;
    right: 10px;
  }

  .modal a.close-modal:after {
    font-size: 24px;
  }
}

@media only screen and (max-width: 415px) {
  .jquery-modal.blocker {
    padding: 0;
  }
}
